/*google font titillium web*/
@import 'https://fonts.googleapis.com/css?family=Titillium+Web:bold,semibold';

.container{
    width: 1100px;
    margin: 0 auto;
}

/*headers*/
h1, h2, h3, h4, h5 ,h6{
  color: #6d6d6d;
  font-family: 'Titillium Web', sans-serif;
  letter-spacing: 1px;
}
h1{
  font-size: 2em;
}
h2{
  font-size: 1.5em;
}
h3{
  font-size: 1.17em;
}
h5{
  font-size: .83em;
}
h6{
  font-size: .75em;
}
h1, h2, h3, h4,
h5, h6{
  font-weight: bold
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}
.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/*header section*/
header{
    width: 100%;
    height: 90px;
    background: #ffffff;
    position: relative;
}

header .logo{
    margin-top: 30px;
    float: left;
}

header nav{
    float: right;
    margin-top: 37px;
}

header nav ul li{
    list-style: none;
    float: left;
    margin-left: 45px;
}

header nav ul li a{
    text-decoration: none;
    color: #5e5d5d;
    font-family: "Titillium Web Bold", sans-serif;
    font-size: 14px;
    letter-spacing: .5px;

    transition:all .2s linear;
    -o-transition:all .2s linear;
    -moz-transition:all .2s linear;
    -webkit-transition:all .2s linear;
}

header nav ul li a:hover,
header nav ul .selected{
    color: #ff4242;
}

/*  header  */
header{
    width: 100%;
    height: 90px;
    background: #ffffff;
    position: relative;
}

header .logo{
    margin-top: 30px;
    float: left;
}

header nav{
    float: right;
    margin-top: 37px;
}

header nav ul li{
    list-style: none;
    float: left;
    margin-left: 45px;
}

header nav ul li a{
    text-decoration: none;
    color: #5e5d5d;
    font-family: "Titillium Web Bold", sans-serif;
    font-size: 14px;
    letter-spacing: .5px;

    transition:all .2s linear;
    -o-transition:all .2s linear;
    -moz-transition:all .2s linear;
    -webkit-transition:all .2s linear;
}

header nav ul li a:hover,
header nav ul .selected{
    color: #ff4242;
}

/*  slider  */
.slider_wrapper{
    width: 100%;
    height: auto;
    position: relative;
    overflow: hidden;
}
 
#slides .slide{
    position: relative;
    width: 100%;
    float: left;
}
 
#slides .slide img{
    width: 100%;
    height: auto;
}
 
#slides .slide .caption{  
    width: 100%;
    position: absolute;
    top: 50%;
    color: #ff4242;
    text-align: center;
    font-family: "raleway-bold", arial;
    font-size: 50px;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 60px;
    text-shadow: 1px 1px #5a5a5a;
 
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
}
 
.slider_wrapper .rslides_tabs{
    width: 100%;
    position: absolute;
    text-align: center;
    bottom: 80px;
    z-index: 9999;
}
 
.slider_wrapper .rslides_tabs li{
    list-style: none;
    display: inline;
}
 
.slider_wrapper .rslides_tabs li a{
    display: inline-block;
    width: 12px;
    height: 12px;
    margin-left: 15px;
    background: rgba(255, 255, 255, .5);
    text-indent: -999px;
    overflow: hidden;
 
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    -o-border-radius: 100px;
    border-radius: 100px;
}
 
.slider_wrapper .rslides_tabs .rslides_here a{
    background: rgba(255, 255, 255, 1);
}
